.section {
  &__about-text {
    font-size: 15px;
    line-height: 21px;
    max-width: 600px;
    margin-bottom: 10px;
  }
  &__about-texts {
    font-size: 15px;
    line-height: 21px;
  }
  &__about-img {
    object-fit: contain;
    flex: 0 0 370px;
    height: 374px;
    margin-bottom: 20px;
    transition: transform 0.5s;
    @media (min-width: 1340px) {
      flex: 0 0 370px;
      height: 495px;
      position: absolute;
      right: 0;
    }
  }

    @media(any-hover: hover){
      &__about-img:hover {
         transform: scale(1.1);
    }
   
  }
}
