    .section {

        &__why-card {
            flex: 0 0 570px;
            display: flex;
            align-items: center;
            gap: 30px;
          }
        
          &__why-img {
            flex: 0 0 270px;
            object-fit: cover;
            height: 187px;
          }
        
        
          &__why-text {
            font-family: Montserrat Alternates;
            font-size: 15px;
            line-height: 21px;
            text-align: left;
          }
        }




