.section {
    
  &__about {
    background: #f0e9e7;
    margin-bottom: 125px;
  }

  &__about-info {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  &__about-title {
    font-family: Comfortaa;
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 10px;
  }
}
