.catalog {

    &__body {
        background-image: url("/assets/img/section_catalog/2221.png");
        display: grid;
        grid-template-columns: repeat(3, 390px);
        grid-template-rows: repeat(2, 288px);
        height: 564px;
        border-radius: 15px;
  }
  

}