

    .gallery {
        margin-bottom: 90px;


        
		&__title {
            font-family: Comfortaa;
            font-size: 35px;
            font-weight: 700;
            line-height: 42px;
            margin-bottom: 40px;
		}

        &__img {
            width: 370px;
            height: 500px;
            object-fit: contain;
        }

		&__body {
            display: flex;
            gap: 52px;
          
		}



    }



