
body {

}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}

.header {
    margin-bottom: 60px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper-left {
    flex: 0 0 430px;
    display: flex;
    justify-content: space-between;
}

.header__wrapper-center {
    flex: 0 0 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper-right {
    flex: 0 0 420px;
    display: flex;
    justify-content: space-between;
}

.header__wrapper-icons {
    display: flex;
    flex: 0 0 180px;
    gap: 30px;

}

.header__search-input {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 17.07px;
    
}



.wrapper__menu {
    flex:0 0 123px;
    height: 38px;
    font-family: Montserrat Alternates;
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
    border: 1px solid #F42758;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 19px;    

}
.wrapper__search {
    width: 267px;
    height: 38px;
    border: 1px solid #F42758;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.wrapper__inst {
    width: 38px;
    height: 38px;
}
.wrapper__logo {
    width: 91px;
    height: 60px;
}
.wrapper__vk {
    width: 38px;
    height: 38px;
}
.wrapper__adress {
    width: 261px;
    height: 38px;
    flex: 0 0 260px;
    font-family: Montserrat Alternates;
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
    border: 1px solid #F42758;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 47px;
    
}

.wrapper__adress-style {
    padding-left: 22;
    display: flex;
    align-items: center;
}

.wrapper__adress-style img {
    
    border: 1px solid #F42758;
    border-radius: 5px;
    padding: 8px 5px;

}
.wrapper__profile {
    width: 38px;
    height: 38px;
    
}
.wrapper__cart {
    width: 38px;
    height: 38px;
    
}


.bold {
    font-weight: 500;
}
