@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  font-family: Montserrat Alternates;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 1340px) {
  .container {
    max-width: 1210px;
  }
}

.wrapper {
  /* .wrapper__menu */
  /* .wrapper__search */
  /* .wrapper__inst */
  /* .wrapper__logo */
  /* .wrapper__vk */
  /* .wrapper__adress */
  /* .wrapper__adress-style */
  /* .wrapper__profile */
  /* .wrapper__cart */
}
.wrapper__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 123px;
          flex: 0 0 123px;
  height: 38px;
  font-family: Montserrat Alternates;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  border: 1px solid #f42758;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 19px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding-left: 19px;
}
@media (max-width: 1340px) {
  .wrapper__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
    padding: 0px;
    margin-right: 15px;
  }
}
.wrapper__menu a {
  text-decoration: none;
  color: #000000;
}
@media (max-width: 1340px) {
  .wrapper__menu a {
    display: none;
  }
}
.wrapper__search {
  width: 267px;
  height: 38px;
  border: 1px solid #ff406e;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 1340px) {
  .wrapper__search {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    height: 40px;
  }
}
.wrapper__inst {
  width: 38px;
  height: 38px;
}
@media (max-width: 1340px) {
  .wrapper__inst {
    width: 38px;
    height: 38px;
    display: none;
  }
}
.wrapper__logo {
  width: 91px;
  height: 60px;
}
.wrapper__vk {
  width: 38px;
  height: 38px;
}
@media (max-width: 1340px) {
  .wrapper__vk {
    width: 38px;
    height: 38px;
    display: none;
  }
}
.wrapper__adress {
  width: 261px;
  height: 38px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  font-family: Montserrat Alternates;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  border: 1px solid #f42758;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 47px;
}
@media (max-width: 1340px) {
  .wrapper__adress {
    display: none;
  }
}
.wrapper__adress a {
  text-decoration: none;
  color: #000000;
}
.wrapper__adress-style {
  padding-left: 22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.wrapper__adress-style img {
  border: 1px solid #f42758;
  border-radius: 5px;
  padding: 8px 5px;
  margin-right: 10px;
}
.wrapper__profile {
  width: 38px;
  height: 38px;
}
.wrapper__cart {
  width: 38px;
  height: 38px;
}

.header {
  margin-bottom: 4px;
  /* .header__wrapper */
  /* .header__wrapper-left */
  /* .header__search-input */
  /* .header__wrapper-center */
  /* .header__wrapper-right */
  /* .header__wrapper-icons */
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1340px) {
  .header__wrapper {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 430px;
            flex: 0 0 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__wrapper-left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 430px;
          flex: 0 0 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 1340px) {
  .header__wrapper-left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 430px;
            flex: 0 0 430px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__search-input {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 17px;
}
@media (max-width: 1340px) {
  .header__search-input {
    display: none;
  }
}
.header__wrapper-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
@media (min-width: 1340px) {
  .header__wrapper-center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.header__wrapper-right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 420px;
          flex: 0 0 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__wrapper-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  gap: 30px;
}

::-webkit-input-placeholder {
  color: #ff406e;
}

::-moz-placeholder {
  color: #ff406e;
}

:-ms-input-placeholder {
  color: #ff406e;
}

::-ms-input-placeholder {
  color: #ff406e;
}

::placeholder {
  color: #ff406e;
}

/*Обнуление*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

button {
  background: transparent;
  cursor: pointer;
}

input {
  background: transparent;
}

span {
  display: inline-block;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
}

.section__why-padding {
  margin-bottom: 140px;
}
.section__why-title {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px;
}
@media (min-width: 1340px) {
  .section__why-title {
    font-size: 35px;
    line-height: 42px;
    margin-bottom: 50px;
    max-width: 400px;
  }
}
.section__why-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section__brands {
  margin-bottom: 90px;
}
.section__brands-title {
  margin-bottom: 50px;
  font-family: Comfortaa;
  font-size: 35px;
  font-weight: 700;
  line-height: 42px;
}

@media (min-width: 1340px) {
  .section__about {
    background: #f0e9e7;
    margin-bottom: 125px;
  }
}
.section__about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.section__about-title {
  font-family: Comfortaa;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 10px;
}
@media (min-width: 1340px) {
  .section__about-title {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 10px;
  }
}

.section__title {
  font-family: Comfortaa;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  margin-top: 50px;
}
.section__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  margin-bottom: 150px;
}

.gallery {
  margin-bottom: 90px;
}
.gallery__title {
  font-family: Comfortaa;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 40px;
}
@media (min-width: 1340px) {
  .gallery__title {
    font-size: 35px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 40px;
  }
}
.gallery__img {
  width: 320px;
  height: 594px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 1340px) {
  .gallery__img {
    width: 370px;
    height: 500px;
  }
}
.gallery__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1340px) {
  .gallery__body {
    gap: 52px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.catalog {
  padding-top: 50px;
}
@media (min-width: 1340px) {
  .catalog__body {
    background-image: url("/assets/img/section_catalog/2221.png");
    border-radius: 15px;
    display: grid;
    grid-template-columns: repeat(3, 390px);
    grid-template-rows: repeat(2, 288px);
    height: 564px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.section__why-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (min-width: 1340px) {
  .section__why-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 570px;
            flex: 0 0 570px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.section__why-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 223px;
}
@media (min-width: 1340px) {
  .section__why-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
    height: 187px;
  }
}
.section__why-text {
  font-family: Montserrat Alternates;
  font-size: 15px;
  line-height: 21px;
}
@media (min-width: 1340px) {
  .section__why-text {
    font-size: 15px;
    line-height: 21px;
  }
}

.section__brands-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section__brands-inner img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 170px;
          flex: 0 0 170px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.section__about-text {
  font-size: 15px;
  line-height: 21px;
  max-width: 600px;
  margin-bottom: 10px;
}
.section__about-texts {
  font-size: 15px;
  line-height: 21px;
}
.section__about-img {
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 370px;
          flex: 0 0 370px;
  height: 374px;
  margin-bottom: 20px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (min-width: 1340px) {
  .section__about-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 370px;
            flex: 0 0 370px;
    height: 495px;
    position: absolute;
    right: 0;
  }
}
@media (any-hover: hover) {
  .section__about-img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.section__card {
  -webkit-box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.0784313725);
          box-shadow: 2px 3px 20px 0px rgba(0, 0, 0, 0.0784313725);
  border-radius: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 270px;
          flex: 0 0 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.section__card-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 253px;
          flex: 0 0 253px;
  overflow: hidden;
}
.section__card-img {
  width: 100%;
  height: 100%;
}
.section__card-bottom {
  background-color: #f8f0ef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0 0 15px 15px;
  padding: 25px 20px 0px 21px;
  gap: 19px;
  height: 100%;
  margin-bottom: 50px;
}
.section__card-title {
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  max-width: 200px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.section__card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.section__card-price {
  font-family: Comfortaa;
  font-size: 15px;
  line-height: 17px;
  text-decoration: line-through;
  color: gray;
}
.section__card-btn {
  font-family: Montserrat Alternates;
  font-weight: 600;
  font-size: 15px;
  line-height: 19px;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7b9b), color-stop(126.51%, #c8162c));
  background: linear-gradient(180deg, #ff7b9b 0%, #c8162c 126.51%);
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 110px;
          flex: 0 0 110px;
  padding: 7px 22px;
}
.section__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
  margin-bottom: 11px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section .section__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #f2d4ff;
  padding: 5px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
.section__card-right {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 14.63px;
  text-align: right;
  border-top: 1px solid #f2d4ff;
}
.section__card-left {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.63px;
  text-align: left;
  color: #b2968d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100px;
}

.gallery__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 1340px) {
  .gallery__content {
    padding-top: 67px;
  }
}
.gallery__content-text {
  font-size: 18px;
  line-height: 25px;
  max-width: 54%;
  margin-bottom: 23px;
  max-width: 100%;
}
@media (min-width: 1340px) {
  .gallery__content-text {
    font-size: 15px;
    line-height: 21px;
    max-width: 54%;
    margin-bottom: 23px;
  }
}
.gallery__content-title {
  font-family: Comfortaa;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  margin-bottom: 20px;
  max-width: 65%;
}
@media (min-width: 1340px) {
  .gallery__content-title {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 25px;
  }
}
.gallery__content-items {
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}
@media (min-width: 1340px) {
  .gallery__content-items {
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 46px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    row-gap: 20px;
  }
}
.gallery__content-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 42%;
          flex: 0 0 42%;
  gap: 20px;
}
.gallery__reviews-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 11px;
}
@media (min-width: 1340px) {
  .gallery__reviews-top {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.gallery__reviews-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  margin-right: 8px;
}
@media (min-width: 1340px) {
  .gallery__reviews-title {
    font-size: 18px;
    line-height: 25px;
    margin-right: 8px;
  }
}
.gallery__reviews-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__reviews-inner img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (min-width: 1340px) {
  .gallery__reviews-inner img {
    margin-left: 2px;
    width: 25px;
    height: 25px;
  }
}
.gallery__reviews-bottom {
  font-size: 13px;
  line-height: 18.2px;
  margin-top: 11px;
}
@media (min-width: 1340px) {
  .gallery__reviews-bottom {
    font-size: 13px;
    line-height: 18.2px;
    margin-top: 8px;
  }
}
.gallery__reviews-bottom a {
  color: #3341BA;
}

.google {
  font-size: 25px;
  font-weight: 700;
  line-height: 35px;
  margin-left: 13px;
}

.bold {
  font-size: 17px;
  font-weight: 700;
  line-height: 23.8px;
  margin-left: 8px;
}

.nobold {
  font-size: 17px;
  font-weight: 400;
  line-height: 23.8px;
  margin-left: 5px;
}

.catalog__just {
  font-family: Comfortaa;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 14px;
}
@media (min-width: 1340px) {
  .catalog__just {
    display: none;
  }
}
.catalog__body-item:last-child {
  border-bottom: 1px solid black;
}
@media (min-width: 1340px) {
  .catalog__body-item:last-child {
    border-bottom: 0;
  }
}
.catalog__body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 28px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 320px;
          flex: 0 0 320px;
  color: black;
  position: relative;
  border-top: 1px solid black;
  padding: 14px 20px;
  margin: 0 -20px;
}
@media (min-width: 1340px) {
  .catalog__body-item {
    color: white;
    padding: 18px;
    padding-top: 73px;
    padding-bottom: 54px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #fff;
    margin: 0;
  }
}
.catalog__body-link::after {
  content: "";
  background-image: url("/assets/img/section_catalog/gal.svg");
  position: absolute;
  width: 17px;
  height: 12px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media (min-width: 1340px) {
  .catalog__body-link::after {
    display: none;
  }
}
.catalog__body-link span {
  display: none;
}
@media (min-width: 1340px) {
  .catalog__body-link span {
    display: inline-block;
  }
}
.catalog__body-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 23px;
}
@media (min-width: 1340px) {
  .catalog__body-title {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
  }
}
.catalog__body-link {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  border: 1px solid #f42758;
  color: black;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23px;
          flex: 0 0 23px;
  height: 23px;
  border-radius: 4px;
}
@media (min-width: 1340px) {
  .catalog__body-link {
    color: white;
    padding: 14px 39px;
    border-radius: 7px;
    border: 2px solid #fff;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    height: auto;
  }
}
.catalog__body-link:hover {
  color: #fff;
  background: #f42758;
  border-color: #f42758;
  text-decoration: none;
}

.banner {
  position: relative;
  height: 458px;
  margin-bottom: 88px;
  background-image: url("../img/banner/banner-bg-1920.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.banner__total {
  margin-bottom: 88px;
}
.banner__total-title br {
  display: none;
}
@media (min-width: 1340px) {
  .banner__total-title br {
    display: block;
  }
}
.banner__total-title {
  font-family: Comfortaa;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  position: relative;
  z-index: 1;
  max-width: 650px;
  padding-top: 108px;
}
.banner__total-text {
  position: relative;
  font-family: Montserrat Alternates;
  font-size: 25px;
  font-weight: 500;
  line-height: 35px;
}
.footer {
  background: #fad4cb;
}
.footer .header {
  padding-top: 40px;
}
.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 45px;
}
.footer__center-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 316px;
          flex: 0 0 316px;
}
.footer__center-title {
  font-family: Montserrat Alternates;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 5px;
}
.footer__center-link {
  font-family: Montserrat Alternates;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 4px;
}
.footer__list-item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}
.footer__item-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.footer__item-social img {
  width: 27px;
  height: 27px;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}
.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 572px;
          flex: 0 0 572px;
}
.footer__info-text {
  font-family: Montserrat Alternates;
  font-size: 18px;
  line-height: 25.2px;
}
.footer__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 188px;
          flex: 0 0 188px;
  height: 88px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.footer__rating-star {
  font-size: 13px;
  line-height: 18.2px;
  gap: 4px;
}
.footer__rating-star span {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  padding-right: 10px;
}
.footer__rating-star p {
  text-align: center;
}
.footer__contact-cp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 34px;
}
.footer__contact-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7b9b), color-stop(126.51%, #c8162c));
  background: linear-gradient(180deg, #ff7b9b 0%, #c8162c 126.51%);
  border-radius: 7px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.38px;
  text-align: center;
  color: white;
  padding: 18px 34px 18px 34px;
  gap: 10px;
}
.footer__pay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 42px;
  margin-bottom: 82px;
}