html, body{
    font-family: Montserrat Alternates;
}
.wrapper {
    overflow: hidden;
}
.container {
    max-width: 360px;
    padding: 0 20px;
    margin: 0 auto;
    @media(min-width:1340px){
        max-width: 1210px;
    }
   
}